@tailwind base;
@tailwind components;
:root {
  color-scheme: dark light;
  overflow-y: scroll;
}
pre[class*="language-"] {
  @apply rounded-none md:rounded-md !important;
  @apply bg-white dark:bg-black !important;
  @apply border-none;
  margin: 0.5em -1rem !important;
}
code[class*="language-"],
pre[class*="language-"],
pre[class*="language-"] *,
code[class*="language-"] * {
  @apply text-[0.9rem] leading-5 not-italic font-mono !important;
}
@tailwind utilities;
