@tailwind base;
@tailwind components;

:root {
  overflow-y: scroll;
}
*::selection {
  @apply bg-zinc-600 bg-opacity-20 dark:bg-zinc-400 dark:bg-opacity-20;
}

/* Prose settings */
.prose {
  * {
    @apply break-words;
  }
  a {
    @apply font-normal text-zinc-700 dark:text-zinc-300 dark:hover:text-zinc-500 hover:text-zinc-400  transition duration-300;
  }
  :not(pre) > code {
    &:before,
    &:after {
      content: none;
    }
    @apply bg-black bg-opacity-5 border-none font-medium text-[0.95em] rounded-md px-1 py-[0.11rem];
    .dark & {
      @apply bg-white bg-opacity-10;
    }
  }
  pre {
    @apply rounded-none;
    @apply bg-zinc-100 dark:bg-zinc-950 text-current;
    @apply border-none;
    @apply p-4 my-2;
    @apply -mx-4 md:-mx-16 lg:-mx-40;
    code {
      @apply p-0 m-0 border-none inline-block leading-[1.2rem] text-[0.80rem] font-mono !important;
    }
  }
}

/* Shiki colors for pre code blocks */
:root {
  --shiki-color-text: #414141;
  --shiki-color-background: transparent;
  --shiki-token-constant: #1976d2;
  --shiki-token-string: #22863a;
  --shiki-token-comment: #999;
  --shiki-token-keyword: #d32f2f;
  --shiki-token-parameter: #ff9800;
  --shiki-token-function: #6f42c1;
  --shiki-token-string-expression: #22863a;
  --shiki-token-punctuation: #212121;
  --shiki-token-link: #22863a;
  --nextra-shiki-deleted: #f00;
  --nextra-shiki-inserted: #f00;
}
.dark {
  --shiki-color-text: #d1d1d1;
  --shiki-token-constant: #79b8ff;
  --shiki-token-string: #ffab70;
  --shiki-token-comment: #6b737c;
  --shiki-token-keyword: #f97583;
  --shiki-token-parameter: #ff9800;
  --shiki-token-function: #b392f0;
  --shiki-token-string-expression: #4bb74a;
  --shiki-token-punctuation: #bbbbbb;
  --shiki-token-link: #ffab70;
}

@tailwind utilities;
