@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap");
@tailwind base;
@tailwind components;
:root {
  overflow-y: scroll;
}
pre[class*="language-"] {
  @apply rounded-none !important;
  @apply bg-zinc-100 dark:bg-zinc-950 !important;
  @apply border-none;
  padding: 1rem !important;
  margin: 0.5em -1rem !important;
}
code[class*="language-"],
pre[class*="language-"],
pre[class*="language-"] *,
code[class*="language-"] * {
  @apply text-xs not-italic font-mono !important;
}
@tailwind utilities;
